datasets~=3.6.0
peft~=0.15.2
sqlalchemy~=2.0.40
pymysql~=1.1.1
python-dotenv~=1.1.0
transformers
torch
trl
uvicorn
fastapi
babel
python-multipart
openai
cryptography
langchain
chardet
ruamel.yaml
llamafactory~=0.9.3
paramiko